<div class="d-flex justify-content-center my-3">
  <%= render "public/shared/search" %>
</div>

<div class="row">

  <%= render "public/shared/user_info", user: current_user, link_to_user: false, editable: false, title: 'User info' %>

  <!-- 右側: 投稿一覧 -->
  <div class="col-9">
    <div class="d-flex justify-content-between align-items-center mt-3" style="max-width: 90%;">
    <!-- タイトル -->
      <h3>投稿一覧</h3>
      
      <!-- 並べ替え用フォーム -->
      <%= form_with url: request.path, method: :get, local: true, class: "d-flex align-items-center" do |f| %>
        <div class="form-group mb-0 mr-2">
          <!-- 並べ替えラベルとセレクト -->
          <%= f.label :sort, "並び替え", class: "form-label me-2" %>
          <%= f.select :sort, options_for_select([["新しい順"], ["いいね数順"], ["コメント数順"]], params[:sort]), class: "form-select" %>
        </div>
        <!-- 並べ替えボタン -->
        <div class="mb-2">
          <%= f.submit "並べ替える", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <%= render "public/shared/posts_index", posts: @posts, show_username: true, show_buttons: false %>
  </div>
</div>
