<div class="row">
  <!-- 左側: ユーザー情報 -->
  <div class="col-3 text-center">
    <h3 class="mt-3">User info</h3>
    <!-- プロフィール画像 -->
    <%= image_tag(current_user.image.attached? ? current_user.image : "no_image.jpg", class: "img-fluid rounded-circle mb-2", size: "150x150") %>
    <!-- 名前 -->
    <hr>
    <p><strong><%= current_user.name %></strong></p>
    <hr>
  </div>

  <!-- 右側: 投稿一覧 -->
  <div class="col-9">
  <h3 class="mt-3">投稿一覧</h3>
    <table class="table table-bordered table-hover" style="max-width: 80%;">
      <thead class="thead-light">
        <tr>
          <th>ユーザー名</th>
          <th>実装した機能</th>
          <th>所要時間</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <!-- ユーザー名 -->
            <td>
              <%= link_to post.user.name, user_path(post.user), class: "text-decoration-none text-primary" %>
            </td>
            
            <!-- タスクの名前 -->
            <td><%= link_to post.task.name, post_path(post), class: "text-decoration-none text-primary" %></td>
            
            <!-- 所要時間 -->
            <td><%= post.time_taken %> 分</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
