<%= form_with model: @post, url: posts_path, local: true do |f| %>

  <% if params[:task_id].present? %>
    <!-- タスク選択後の表示 -->
    <div class="d-flex flex-column justify-content-start align-items-center" style="min-height: 90vh; padding-top: 5vh;">
      <div class="mb-3" style="width: 90%;">
        <h3 class="mt-3 text-center">選択した機能</h3>
        <table class="table table-bordered mx-auto" style="width: 100%;">
          <thead>
            <tr>
              <th>機能名</th>
              <th>平均所要時間</th>
              <th>実装予定日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= Task.find_by(id: params[:task_id])&.name || "タスクが選択されていません" %></td>
              <td><%= Task.find_by(id: params[:task_id])&.calculate_average_time.present? ? "#{Task.find_by(id: params[:task_id]).calculate_average_time}分" : "データなし" %></td>
              <td><%= f.date_field :start, required: true %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="width: 90%; text-align: left;">
        <h4>選択した機能の説明文</h4>
        <div class="p-3 border" style="border-width: 2px; border-radius: 5px; border-color: black; word-wrap: break-word; overflow-wrap: break-word; max-height: 200px; overflow-y: auto;">
          <p><%= simple_format(@task.explanation) %></p>
        </div>
      </div>


      <!-- task_id を hidden フィールドとして送信 -->
      <%= f.hidden_field :task_id, value: params[:task_id] %>

      <!-- 投稿ボタン -->
      <div class="mt-4">
        <%= f.submit '実装を開始する', class: "btn btn-primary btn-lg" %>
      </div>
    </div>

  <% else %>
    <!-- タスク未選択時 -->
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 80vh;">
      <p class="display-4 text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.4;">
        「機能一覧へ」ボタンから<br>
        実装したい機能を選んで<br>
        スケジュールを立てよう！
      </p>
      <%= link_to '機能一覧へ', tasks_path, class: 'btn btn-primary btn-lg' %>
    </div>
  <% end %>

<% end %>
