<% if @comment.errors.any? %>
  <div class="text-center alert alert-danger mt-3">
    <%= @comment.errors.full_messages.first %>
  </div>
<% end %>

<div class="row">

  <%= render "public/shared/user_info", path: user_path(@post.user), user: @post.user, link_to_user: true, editable: false, title: '投稿者' %>

  <!-- 投稿詳細 -->
  <%= render "public/shared/post_details", {
  table_width: "40%",
  show_completion_status: true,
  render_favorite_btn: true,
  delete_path: nil,
  user_path_callable: ->(user) { user_path(user) },
  edit_comment_path_callable: ->(comment) { edit_post_comment_path(comment.post, comment) },
  delete_comment_path_callable: ->(comment) { post_comment_path(comment.post, comment) }
  } %>

    <!-- コメント投稿フォーム -->
    <% if current_user.email != "guest@example.com" %>
      <h4 class="mt-3 mb-3">コメントはこちらから</h4>
      <div class="form-group mt-4" style="max-width: 95%;">
        <%= form_with model: [@post, @comment], local: true do |f| %>
          <div class="mb-3">
            <%= f.text_area :content, rows: '5', class: "form-control", placeholder: "コメントをここに" %>
          </div>
          <%= f.submit "送信する", class: "btn btn-primary", style: "padding: 10px 40px;" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
