<div class="d-flex justify-content-center my-3">
  <%= render "public/shared/search" %>
</div>

<% if @posts.present? %>
  <div class="table-responsive" style="width: 80%; margin: 0 auto;">
    <h2 class="mb-3">「<%= @word %>」を実装した投稿一覧</h2>
    <table class="table table-bordered table-hover text-center">
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th nowrap>実装した機能</th>
          <th nowrap>かかった時間</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <% if post.is_completion %>
            <tr>
              <td><%= link_to post.user.name, user_path(post.user) %></td>
              <td><%= link_to post.task.name, post_path(post) %></td>
              <td><%= post.time_taken %>分</td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <% elsif @groups.present? %>
  <div class="table-responsive" style="width: 80%; margin: 0 auto;">
    <h2 class="mb-3">「<%= @word %>」が所属しているグループ</h2>
    <table class="table table-bordered table-hover text-center">
      <thead>
        <tr>
          <th>グループ名</th>
          <th>作成者</th>
          <th>メンバーの名前</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, group_path(group) %></td>
            <td><%= group.owner.name %></td>
            <td>
              <% group.approved_users.each do |member| %>
                <%= member.name %><br>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <h2 style="text-align:center">該当する結果がありません。</h2>
<% end %>
