<div class="row position-relative">
  <%= render "public/shared/user_info", user: @user, link_to_user: false, editable: false, title: 'User info' %>

  <!-- 投稿一覧 -->
  <div class="col-md-9">
    <div class="d-flex align-items-center mt-3 mb-3">
      <h3><%= @user.name %>さんの投稿一覧</h3>
      <div style="margin-left: 100px;">
        <%= link_to "このユーザーを削除", admin_user_path(@user), method: :delete,
          data: { confirm: "本当にこのユーザーを削除しますか？" },
          class: "btn btn-danger" %>
      </div>
    </div>

    <table class="table table-bordered table-hover" style="max-width: 90%;">
      <thead>
        <tr>
          <th>実装した機能</th>
          <th>かかった時間</th>
          <th>コメント数</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.task.name, admin_post_path(post) %></td>
            <td><%= post.time_taken || "未入力" %> 分</td>
            <td><%= "#{post.comments.count} コメント" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
