<div class="row">

  <%= render "public/shared/user_info", user: @user, link_to_user: false, editable: (@user == current_user && @user.email != "guest@example.com"), title: 'User info' %>

  <!-- 投稿一覧 -->
  <div class="col-md-9">
    <div class="mt-4 mb-3 d-flex justify-content-between align-items-center" style="max-width: 90%;">
      <h3><%= @user == current_user ? '自分の実装機能一覧' : "#{@user.name}さんの実装した機能一覧" %></h3>
      <% if @user == current_user %>
        <%= link_to 'スケジュールをカレンダーで確認', calendar_path, class: "btn btn-primary", data: { turbolinks: false } %>
      <% end %>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3" style="max-width: 90%;">
      <h5>
        <% if @user == current_user %>
          <%= link_to "お気に入り記事一覧へ", favorite_posts_path(current_user) %>
        <% else %>
          <%= link_to "お気に入り記事一覧へ", favorite_posts_path(@user) %>
        <% end %>
      </h5>
      <%= render "public/shared/sort_form" %>
    </div>
    <%= render "public/shared/posts_index", posts: @posts, show_username: false, show_buttons: @user == current_user, is_favorites_page: false %>
  </div>
</div>
