<!DOCTYPE html>
<html>
  <head>
    <title>TimeManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |key, message| %>
      <div 
        class="alert <%= key == 'notice' ? 'alert-success' : 'alert-danger' %>" 
        style="max-width: 100%; margin: 1rem auto; padding: 0.5rem 1rem; border-radius: 0.5rem; text-align: center;"
      >
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
