<!DOCTYPE html>
<html>
  <head>
    <title>TimeManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <p>確認用</p>
    <% flash.each do |key, message| %>
      <div class="alert <%= key == "notice" ? "alert-success" : "alert-danger" %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
